.deck {
    margin: auto;
    display: flex;
    width:80%;
    flex-direction: row;
    flex-wrap: wrap;
    overflow:auto;
}

.card {
    padding:2em;
}

button {
    position:sticky;
    bottom:2em;
    margin-left:50%;
}